.page {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 248, 250);
  min-height: 100vh;
}

.header {
  background-color: gold;
  height: 80px;
  justify-items: center;
  align-content: center;
}

.main {
  margin: auto;
  width: 100%;
}

.portrait {
  height: 400px;
  width: 400px;
  background-color: red;
}

.footer {
  height: 80px;
  background-color: green;
}
